<html lang="en">
  <ng-container *ngIf="isDesktopView">
    <div class="homepage">
      <div class="heading">
        <span class="left-heading">W.</span>
        <div class="tabs">
          <span>Home</span>
          <span>New</span>
          <span>Popular</span><span>Trending</span>
          <span>Categories</span>
        </div>
      </div>
      <div class="content">
        <div class="left-content">
          <div class="imgCover">
            <img src="../assets/image-web-3-desktop.jpg" alt="" />
            <div class="bottom">
              <div class="question">
                <span>The Bright Future of Web 3.0?</span>
              </div>
              <div class="answers">
                <span>
                  We dive into the next evolution of the web that claims to put
                  the power of the platforms back into the hands of the people.
                  But is it really fulfilling its promise?
                </span>
                <div><button class="read-more">READ MORE</button></div>
              </div>
            </div>
          </div>
          <div class="news">
            <span class="heading-news">New</span>
            <div class="news-column line">
              <span class="news-column-heading">Hydrogen VS Electric Cars</span>
              <span class="news-column-data"
                >Will hydrogen-fueled cars ever catch up to EVs?</span
              >
            </div>
            <div class="news-column line">
              <span class="news-column-heading"
                >The Downsides of AI Artistry</span
              >
              <span class="news-column-data"
                >What are the possible adverse effects of on-demand AI image
                generation?</span
              >
            </div>
            <div class="news-column">
              <span class="news-column-heading">Is VC Funding Drying Up?</span>
              <span class="news-column-data"
                >Private funding by VC firms is down 50% YOY. We take a look at
                what that means.</span
              >
            </div>
          </div>
        </div>
      </div>
      <div class="footer">
        <div class="footer-content">
          <div class="container">
            <img src="../assets/image-retro-pcs.jpg" alt="retro PC" />
          </div>
          <div class="foot-content">
            <span class="num">01</span>
            <span class="foot-heading">Reviving Retro PCs</span>
            <span class="foot-data"
              >What happens when old PCs are given modern upgrades?</span
            >
          </div>
        </div>
        <div class="footer-content">
          <div class="container">
            <img src="../assets/image-top-laptops.jpg" alt="retro PC" />
          </div>
          <div class="foot-content">
            <span class="num">02</span>
            <span class="foot-heading">Top 10 Laptops of 2022</span>
            <span class="foot-data"
              >Our best picks for various needs and budgets.</span
            >
          </div>
        </div>
        <div class="footer-content">
          <div class="container">
            <img src="../assets/image-gaming-growth.jpg" alt="retro PC" />
          </div>
          <div class="foot-content">
            <span class="num">03</span>
            <span class="foot-heading">The Growth of Gaming</span>
            <span class="foot-data"
              >How the pandemic has sparked fresh-opportunities.</span
            >
          </div>
        </div>
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="!isDesktopView">
    <ng-container *ngIf="isSideNav">
      <div class="slider-menu">
        <div class="slider-content">
          <img
            src="../assets/icon-menu-close.svg"
            alt=""
            (click)="onSideNavClick()"
          />
          <span>Home</span>
          <span>New</span>
          <span>Popular</span><span>Trending</span>
          <span>Categories</span>
        </div>
      </div>
    </ng-container>
    <div class="mob-homepage" [ngClass]="{ fixed: isSideNav }">
      <div class="mob-heading">
        <span>W.</span>
        <img src="../assets/icon-menu.svg" alt="" (click)="onSideNavClick()" />
      </div>
      <div class="mob-content">
        <div class="mob-question">
          <img src="../assets/image-web-3-mobile.jpg" alt="background" />
          <span class="mob-question-heading"
            >The Bright Future of Web 3.0?</span
          >
          <span class="mob-answer">
            We dive into the next evolution of the web that claims to put the
            power of the platforms back into the hands of the people. But is it
            really fulfilling its promise?
          </span>
          <button class="mob-read-more">READ MORE</button>
        </div>
      </div>

      <div class="mob-news">
        <span class="mob-heading-news">New</span>
        <div class="mob-news-column line">
          <span class="mob-news-column-heading">Hydrogen VS Electric Cars</span>
          <span class="news-column-data"
            >Will hydrogen-fueled cars ever catch up to EVs?</span
          >
        </div>
        <div class="mob-news-column line">
          <span class="mob-news-column-heading"
            >The Downsides of AI Artistry</span
          >
          <span class="mob-news-column-data"
            >What are the possible adverse effects of on-demand AI image
            generation?</span
          >
        </div>
        <div class="mob-news-column">
          <span class="mob-news-column-heading">Is VC Funding Drying Up?</span>
          <span class="mob-news-column-data"
            >Private funding by VC firms is down 50% YOY. We take a look at what
            that means.</span
          >
        </div>
      </div>
      <div class="mob-footer-content">
        <div class="mob-container">
          <img src="../assets/image-retro-pcs.jpg" alt="retro PC" />
        </div>
        <div class="mob-foot-content">
          <span class="num">01</span>
          <span class="foot-heading">Reviving Retro PCs</span>
          <span class="foot-data"
            >What happens when old PCs are given modern upgrades?</span
          >
        </div>
      </div>
      <div class="mob-footer-content">
        <div class="mob-container">
          <img src="../assets/image-top-laptops.jpg" alt="retro PC" />
        </div>
        <div class="mob-foot-content">
          <span class="num">02</span>
          <span class="foot-heading">Top 10 Laptops of 2022</span>
          <span class="foot-data"
            >Our best picks for various needs and budgets.</span
          >
        </div>
      </div>
      <div class="mob-footer-content">
        <div class="mob-container">
          <img src="../assets/image-gaming-growth.jpg" alt="retro PC" />
        </div>
        <div class="mob-foot-content">
          <span class="num">03</span>
          <span class="foot-heading">The Growth of Gaming</span>
          <span class="foot-data"
            >How the pandemic has sparked fresh-opportunities.</span
          >
        </div>
      </div>
    </div>
    <div *ngIf="isSideNav" class="backdrop"></div>
  </ng-container>
</html>
